@import "tailwindcss";
/*
PRIMARY:    bg-gray-700 (#364153)
SECONDARY: #1b1f23

*/


body {
    background-color: #1b1f23;
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.main {
    display: flex;
    flex: calc(3/4 * 100%);
}


.nav {
    padding-left: 1rem;
    padding-right: 2rem;
}

.logo-sm {
    width: 3rem;
}

a:hover {
    opacity: 0.8;
}


.news-button {
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    height: fit-content;
}

.news-info {
    min-width: 100px;
    text-align: right;
}

.sidebar {
    border-radius: 0.25rem;
    height: fit-content;


    display: flex;
    flex: calc(1/4 * 100%);
    flex-direction: column;
}

.sidebar>a:nth-last-child(1) {
    border-bottom: none;
}

.team {
    font-weight: 500;
}

.score {
    font-weight: 900;
}


@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        display: block;
    }

    .sidebar {
        width: 80%;
        margin: auto;
        margin-bottom: 1.25rem;
    }
}